.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:#000000;
}
.navbar-brand{
    color:#000000; 
}
a{
    color:#e41d3c;  
}
h4{
    color:#e41d3c;   
}
.pro{
    background-color: #fff;
}
body{
    background-color: #fff;
}
.nabt{
    background-color: #eee; 
}
footer{
    background-color: #000; 
    color:#fff;
}
.ft{
    background-color: #000; 
    color:#fff;
}
#abt{
    margin-top:70px;
    margin-bottom:80px;
}
#wht{
    margin-top:70px;
    margin-bottom:80px;
    background-color: #f8f7f5;
}
#call{
    margin-top: 30px;
    margin-bottom:10px;
    padding:33px;
    background-color: #ddd;
}
#serv{
    margin-top:70px;
    margin-bottom:80px;
    
}
#pro{
    margin-top:70px;
    margin-bottom:80px;
    background-color: #f8f7f5;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}
